* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
    
}

h1{
    margin: 7px;
}
.container{
    width: 100%;
    background-color: blue;
    padding: 80px;
}
#gridContainer{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 900px;
    border: 3px white solid;
    margin: 0 auto;
    background-color: aquamarine; 
}

#gridContainer > div{
    width: calc(100% / 10);
}