* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
    
}

h1{
    margin: 7px;
}
.container{
    width: 100%;
    background-color: blue;
    display: flex;
    height: 800px;
    background-color: aquamarine;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0px 5px;
}

header h1{
    text-transform: uppercase;
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    margin: auto; 
}

.gridBorder{
    border: 1px solid black;
}

div.gridItem{
    width: calc(100% / 10);
    height: calc(100% / 10);
    margin: auto;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

#buttonPlay{
    text-align: center;
    padding: 7px;
    border-radius: 5px;
    background-color: lightgray;
    width: 90px;
    border: 1px black solid;
}

#buttonPlay:hover{
    cursor: pointer;
}

.aqua{
    background-color: aqua;
}

#buttonPlay:active{
    background-color: gray
}
/* UTILITIES*/

.flex{
    display: flex;
}